<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">
      <a href="mailto:khaliliprf@gmail.com">Mohammad</a>
    </p>
  </div>
  <!-- /.container -->
</footer>